STREAM_URL=http://paste.your.local.ip.for.cam/video
MODEL_NAME=yolo26s.pt

SAVE_EVERY=5
CONF=0.25
IMGSZ=320
HTTP_PORT=8080
JPEG_QUALITY=65

IDLE_FRAME_STRIDE=3
ACTIVE_FRAME_STRIDE=1
DETECTION_STALE_SEC=1.5

ALERT_LABELS=dog,person

TELEGRAM_BOT_TOKEN=PUT_YOUR_TOKEN_HERE
TELEGRAM_CHAT_ID=PUT_YOUR_CHAT_ID_HERE
TELEGRAM_COOLDOWN=8

MOTION_GATE=1
MOTION_MIN_AREA=5000
MOTION_WARMUP_FRAMES=30
MOTION_BOX_PAD=12
MOTION_BOX_MIN_PIXELS=80
MOTION_BOX_MIN_RATIO=0.01
